<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trabalho ESDS</title>
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <nav id="top-bar">
      <div id="logo_topbar">
        <img src="../images/logocomIA.png" alt="logo" />
      </div>
      <div id="rotas">
        <ul id="ul_rotas">
          <li id="rotas_item">Home</li>
          <li id="rotas_item">Currículo</li>
          <li id="rotas_item">Área de atuação</li>
          <li id="rotas_item">Contato</li>
        </ul>
      </div>
    </nav>
    <div id="copyright">copyright aq, vou fazer ainda</div>
  </body>
  <script type="module" src="../scripts/index.js"></script>
</html>
