<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trabalho ESDS</title>
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/topbar-default.css" />
  </head>
  <body>
    <nav id="top-bar">
      <div id="logo_topbar">
        <a href="../view/index.html" id="logo_topbar">
          <img src="../images/logocomIA.png" alt="logo" />
        </a>
      </div>
      <div id="rotas">
        <ul id="ul_rotas">
          <li id="rotas_item">Home</li>
          <li id="rotas_item">Currículo</li>
          <li id="rotas_item">Área de atuação</li>
          <li id="rotas_item">Contato</li>
        </ul>
      </div>
    </nav>
    <div id="content" style="border: 1px solid green">
      <div id="content-dentro-info-pai" style="border: 1px solid magenta">
        <span id="border-texto" style="border: 0px solid blue">Lorem</span>
        <img id="avatar" src="../images/imagem.jpeg" />
      </div>
    </div>

    <div id="extra">
      <div id="extra-title">
        <h1>Contato</h1>
        <p>Fale conosco</p>
      </div>
      <div id="extra-content">
        <div id="info-local">
          <div id="">
            <p>
              Rua L, Esquina Dorival Dutra, 152, Sala 01, Dutra, Capivari do
              Sul, RS
            </p>
          </div>
        </div>
        <div id="form-info">
          <div id="extra-content-logo">
            <a href="../view/index.html">
              <img src="../images/logocomIA.png" alt="logo" />
            </a>
          </div>
          <div id="formulario">
            <input
              type="text"
              name="user"
              id="username"
              placeholder="Qual seu nome?"
            />
            <input
              type="text"
              name="email"
              id="email"
              placeholder="Digite seu email..."
            />
            <input
              type="text"
              name="assunto"
              id="assunto"
              placeholder="Assunto..."
            />
            <input
              type="text"
              name="message"
              id="message"
              placeholder="Escreva aqui sua mensagem..."
            />
          </div>
        </div>
      </div>
    </div>
    <footer id="copyright">
      Copyrights © 2026. Todos os Direitos Reservados. | Veja nossa Política de
      Privacidade > <a href="politica_privacidade.html"> clicando aqui</a>.
    </footer>
  </body>
  <script type="module" src="../scripts/index.js"></script>
</html>
