<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Política de Privacidade</title>
    <link rel="stylesheet" href="../css/topbar-default.css" />
    <link rel="stylesheet" href="../css/politica_privacidade.css" />
  </head>
  <body>
    <nav id="top-bar">
      <div id="logo_topbar">
        <img src="../images/logocomIA.png" alt="logo" />
      </div>
      <div id="rotas">
        <ul id="ul_rotas">
          <li id="rotas_item">
            <a href="index.html">Home</a>
          </li>
          <li id="rotas_item">Currículo</li>
          <li id="rotas_item">Área de atuação</li>
          <li id="rotas_item">Contato</li>
        </ul>
      </div>
    </nav>

    <nav id="banner">
      <div id="textbanner">
        <h1>POLÍTICAS DE</h1>
        <h2 class="privacidade">PRIVACIDADE</h2>
      </div>
    </nav>

    <!-- 
    TEXTO

    QUAIS SÃO AS INFORMAÇÕES QUE COLETAMOS?


    Nós do site ELISEU SANTOS ADVOGADO coletamos informações de você quando você se registra em nosso site ou preenche um formulário.
    Ao fazer o pedido ou registrar-se em nosso site, conforme apropriado, você pode ser solicitado a inserir seu nome, endereço de e-mail e detalhes de contato.
    
    
    
    
    
    
    
    
    
    
    -->
  </body>
</html>
